.pagination-input::-webkit-outer-spin-button,
.pagination-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pagination-input[type='number'] {
  -moz-appearance: textfield;
}

.pagination-button-disabled {
  color: gray;
  background-color: white;
  border-color: gray;
  cursor: not-allowed;
}

.pagination-button-disabled:hover {
  color: gray;
  background-color: white;
  border-color: gray;
  cursor: not-allowed;
}
